<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center text-dark mt-5">SignUp Form</h2>
      <div class="card my-5">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="card-body cardbody-color p-lg-5">
          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
              width="200px" alt="profile">
          </div>
          <div class="mb-3">
            <input formControlName="username" type="text" class="form-control" placeholder="User Name">
          </div>
          <div class="mb-3">
            <input formControlName="email" type="email" class="form-control" placeholder="Enter Your Email">
          </div>
          <div class="mb-3">
            <input formControlName="password" type="password" class="form-control" placeholder="Password">
          </div>
          <div class="mb-3">
            <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-color px-5 mb-5 w-100">SignUp</button>
          </div>
          <div class="form-text text-center mb-2 text-dark">Not Registered?
            <a routerLink="/signin" class="text-dark fw-bold"> SignIn</a>
          </div>
          <div class="form-text text-center mb-5 text-dark">Want to forget your password
            <a routerLink="/forgetpassword" class="text-dark fw-bold">Forget password</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
